<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dreamEMS.repository.mybatis.OrderMapper">

    <!--<resultMap id="user" type="User">
        <id property="no" column="no"/>
        <result property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
    </resultMap>-->

    <select id="getTestTbList" resultType="TestTb">
        select *
        from test_tb
    </select>
    
    <insert id="insertOrder" parameterType="com.dreamEMS.model.entity.Order">
        INSERT INTO ems.order (order_date,
        				cust_no,
                        appr_no,
                        user_no,
                        sender,
                        sender_zip_code,
                        sender_addr2,
                        sender_mobile1,
                        sender_mobile2,
                        sender_mobile3,
                        sender_mobile4,
                        order_no,
                        premium_cd,
                        receive_name,
                        receive_zip_code,
                        receive_addr3,
                        receive_tel_no,
                        country_cd,
                        em_e_e,
                        tot_weight,
                        bo_y_n,
                        contents,
                        number,
                        weight,
                        value,
                        hs_code,
                        origin,
                        em_gubun,
                        req_no,
                        receive_seq,
                        regi_no,
                        pre_recev_prc,
                        prc_pay_meth_cd,
                        treat_po_regi_po_cd,
                        treat_po_regi_po_eng_nm,
                        print,
                        contents1,
                        contents2,
                        contents3,
                        contents4,
                        value1,
                        value2,
                        value3,
                        value4,
                        number1,
                        number2,
                        number3,
                        number4,
                        hs_code1,
                        hs_code2,
                        hs_code3,
                        hs_code4
                        treat_po_regi_po_eng_nm
                        )
				VALUES (#{orderDate},
						#{custNo},
				        #{apprNo},
				        #{userNo},
				        #{sender},
				        #{senderZipCode},
				        #{senderAddr2},
				        #{senderMobile1},
				        #{senderMobile2},
				        #{senderMobile3},
				        #{senderMobile4},
				        #{orderNo},
				        #{premiumCd},
				        #{receiveName},
				        #{receiveZipCode},
				        #{receiveAddr3},
				        #{receiveTelNo},
				        #{countryCd},
				        #{emEE},
				        #{totWeight},
				        #{boYN},
				        #{contents},
				        #{number},
				        #{weight},
				        #{value},
				        #{hsCode},
				        #{origin},
				        #{emGubun},
				        #{reqNo},
				        #{receiveSeq},
				        #{regiNo},
				        #{preRecevPrc},
				        #{prcPayMethCd},
				        #{treatPoRegiPoCd},
				        #{treatPoRegiPoEngNm},
				        #{print},
                        #{contents1},
                        #{contents2},
                        #{contents3},
                        #{contents4},
                        #{value1},
                        #{value2},
                        #{value3},
                        #{value4},
                        #{number1},
                        #{number2},
                        #{number3},
                        #{number4},
                        #{hsCode1},
                        #{hsCode2},
                        #{hsCode3},
                        #{hsCode4}
				        #{treatPoRegiPoEngNm}
        )
    </insert>
    
    <select id="selectAllOrder" resultType="Order">
        SELECT SQL_CALC_FOUND_ROWS
          *
        FROM
           ems.order
        WHERE
       		print_flag = 0
        <if test="input.userNo != null">
          AND user_no = #{input.userNo}
        </if>
        order by order_date desc
        <if test="paging.start != null">
          LIMIT #{paging.start}, #{paging.length}    
        </if>
    </select>
    
    <select id="selectAllPrintOrder" resultType="Order">
        SELECT SQL_CALC_FOUND_ROWS
          *
        FROM
           ems.order
        WHERE
        	print_flag = 1
        <if test="input.userNo != null">
          AND user_no = #{input.userNo}
        </if>
        order by order_date desc
        <if test="paging.start != null">
          LIMIT #{paging.start}, #{paging.length}    
        </if>
    </select>
    
    <select id="selectTotalRecords" resultType="int">
        SELECT FOUND_ROWS();
    </select>
    
    <select id="selectOrder" resultType="Order">
        SELECT
          *
        FROM
           ems.order
        WHERE
        	order_no = #{orderNo}
        <if test="userNo != null">
           AND user_no = #{userNo}
        </if>
    </select>
    
    <select id="selectOrders" resultType="Order">
        SELECT
          *
        FROM
           ems.order
        WHERE order_no in
        <foreach collection="orders" item="order"   open="(" close=")" separator=",">
		      #{order}
		 </foreach>
        <if test="userNo != null">
           AND user_no = #{userNo}
        </if>
    </select>
    
    <delete id="deleteOrder">
        DELETE FROM
          ems.order
        WHERE
         order_no = #{orderNo}
         <if test="userNo != null">
        AND
          user_no = #{userNo}
        </if>
    </delete>

</mapper>